body{
    background-color: rgba(146, 15, 146, 0.671);
    font: normal 15pt Arial;
}
header{
    text-align: center;
}
footer{
    font-style: italic;
}
div{
    margin: auto;
    text-align: center;
}
input{
    width: 70px;
    height: 25px;
    font-size: 18pt;
}
div#fileiraUm{
    margin-bottom: 30px;
}
input#primeiro{
    margin-right: 90px;
}
input#segundo{
    margin-right: 90px;
}
input#botao{
    font-size: 12pt;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}