* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

body {
    background-color: rgb(56, 55, 53);
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

h1 {
    font-size: 20pt;
    color: white;
}

div {
    margin: auto;
    text-align: center;
}

section#estrutura {
    background-color: white;
    padding: 15px;
    width: 350px;
    margin: auto;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgb(17, 17, 17);
}

input {
    width: 80px;
    height: 30px;
    font-size: 15pt;
    border-radius: 8px;
}

div#fileiraUm { 
    margin-bottom: 30px;
}

input#primeiro {
    margin-right: 90px;
}

input#segundo {
    margin-right: 90px;
}

input#botao {
    font-size: 19pt;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

section#calculo {
    background-color: white;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 4px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgb(17, 17, 17);
}

h2 {
    text-align: center;
    font-size: 17pt;
    color: white;
}